---
import Technology from "@components/Servi/Technology.astro";

interface Props {
  title: string;
  description: string;
  image: any;
  color: string;
  technologies: string[];
}
const { title, description, image, color, technologies } = Astro.props;
---

<div
  class="h-[450px] p-8 rounded-lg relative z-10 overflow-hidden"
  style=`background-color: ${color}`
>
  <img
    src={image.src}
    alt={title}
    class="absolute top-0 right-0 w-full h-full object-cover -z-50 animate-scale"
  />
  <div class="flex flex-col h-full">
    <div class="flex-1 flex justify-between flex-col">
      <h3 class="text-5xl font-bold">{title}</h3>
      <div class="divide-y-2 divide-white">
        <p class="mb-4">{description}</p>
        <div class="pt-3 flex gap-1 flex-wrap">
          {technologies.map((item) => <Technology>{item}</Technology>)}
        </div>
      </div>
    </div>
  </div>
</div>
